<section id="about">
    <div class="container">
        <h2 class="section__title">About</h2>
        <div class="about__grid">
            <div class="about__description">
                <h3>¿Who I am?</h3>
                <h2>I am Kevin Moreno</h2>
                <p>
                    Junior developer from Ecuador. I have experiencie in Fronted and backend for web application development.
                    Passionate about reading and writing code, I'm here to learn and continue studying!
                </p>
            </div>
            <div class="about__skills">
                <div class="skill__title">
                    <h3>Skills:</h3>
                </div>
                <div class="skill__item">
                    <i class="fa-brands fa-html5"></i>
                    <div class="skill__name">HTML</div>
                </div>
                <div class="skill__item">
                    <i class="fa-brands fa-css3-alt"></i>
                    <div class="skill__name">CSS</div>
                </div>
                <div class="skill__item">
                    <i class="fa-brands fa-square-js"></i>
                    <div class="skill__name">Javascript</div>
                </div>
                <div class="skill__item">
                    <i class="fa-brands fa-python"></i>
                    <div class="skill__name">Python</div>
                </div>
                <div class="skill__item">
                    <i class="fa-brands fa-git"></i>
                    <div class="skill__name">Git</div>
                </div>
                <div class="skill__item">
                    <i class="fas fa-database"></i>
                    <div class="skill__name">MONGODB</div>
                </div>
            </div>
        </div>
    </div>
</section>