<section id="contact">
    <div class="container">
        <h2 class="section__title">Contact</h2>
        <div class="contact__grid">
            <div class="screen__header">
                <div class="screen-header-left">
                    <div class="screen-header-button close"></div>
                    <div class="screen-header-button maximize"></div>
                    <div class="screen-header-button minimize"></div>
                </div>
            </div>
            <div class="screen__body">
                <a 
                    href="mailto:blazekcontac@gmail.com"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div class="contact__item">
                        <i class="fas fa-paper-plane"></i>
                        <p>Correo</p>
                    </div>
                </a>
                <a
                    href="https://github.com/bl4zek"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div class="contact__item">
                        <i class="fab fa-github"></i>
                        <p>Follow Me</p>
                    </div>
                </a>
                <a
                    href="https://twitter.com/elkevin_ecu"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div class="contact__item">
                        <i class="fab fa-twitter"></i>
                        <p>Follow Me</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>