<nav class="navbar">
  <div class="container">
      <div class="navbar__logo">
          <p class="navbar__title">
              <a href="#">bl4zek</a>
          </p>
      </div>
      <div class="navbar__menu">
          <i class="fas fa-bars"></i>
      </div>
      <ul class="navbar__links">
          <li class="navbar__link activate" data-ref="home">
              <a href="#home">Home</a>
          </li>
          <li class="navbar__link activate" data-ref="about">
              <a href="#about">About</a>
          </li>
          <!-- <li class="navbar__link activate" data-ref="experience">
              <a href="#experiences">Experience</a>
          </li>
          <li class="navbar__link activate" data-ref="project">
              <a href="#projects">Projects</a>
          </li> -->
          <li class="navbar__link activate" data-ref="contact">
              <a href="#contact">Contact</a>
          </li>
      </ul>
  </div>
</nav>
<app-home></app-home>
<app-about></app-about>
<app-contact></app-contact>
<footer class="footer">
  <div class="container">
      <p>
          Copyright © 2022. <a href="#">@bl4zek</a><br>
          All Rights Reserved
      </p>
  </div>
</footer>