<section id="home" class="home">
    <div class="home__background"></div>
    <picture>
        <source type="image/png" srcset="assets/images/photo.png" />
        <img class="home__profile" alt="picture profile">
    </picture>
    <div class="home__description">
        <span class="home__title--primary">Welcome!</span>
        <h1 class="home__title">I'm Kevin Moreno</h1>
        <a class="home__title--secondary" href="#about">- Junior Software Engineer -</a>
        <ul class="home__social">
            <li class="social__item">
                <a href="https://github.com/bl4zek">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
            <li class="social__item">
                <a href="https://instagram.com/kevin05_m">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
        </ul>
        <div class="home__contact">
            <a href="#contact">Hire me</a>
        </div>
    </div>
</section>